@import "vars"

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1800px)
	.career-main-screen
		background-size: 1730px
		background-position: right 0vw top
@media only screen and (max-width : 1700px)
	.career-main-screen
		background-size: 1730px
		background-position: right -5vw top
@media only screen and (max-width : 1500px)
	.career-main-screen
		background-size: 1730px
		background-position: right -10vw top

@media only screen and (max-width : 1480px)
	.fraud-slider
		.scams-item
			width: 20vw
		.slick-current
			.scams-item
				width: 30vw


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
	/**/
	
	.menu ul li 
		margin-right: 4vw
	.menu
		padding-right: 7vw
	.main-screen__content-wrapper
		padding-right: 5vw
	.main-screen__content 
		margin-top: -75px
	.why-us__item:nth-child(2)
		margin-left: 20vw
	.why-us__item:nth-child(3)
		margin-left: 40vw
	.why-us__item
		width: 55vw
	.growing-item:nth-child(3)
		margin-left: 10vw
	.growing-item
		width: 40vw
		margin: 1vw

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px)
	/**/
	.menu
		padding-right: 0vw
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1360px)
	/**/		
	.h1 
		font-size: 58px
	.main-screen__content
		margin-top: -50px
	.main-screen 
		padding-top: 201px
		padding-bottom: 265px
		//background-size: 1750px
		background-position: left -375px top -65px
	.main-screen__content-wrapper
		padding-right: 0
	.main-screen__content 
		width: 414px
	.item 
		flex-direction: column
		text-align: center
		width: 214px 
		max-width: 100% 
		margin-left: auto 
		margin-right: auto
	.item__text
		margin-left: 0
		margin-top: 10px
		
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.reviews-slider
		.container-fluid 
			width: 100vw 
			max-width: 100vw
			margin-right: 0
	.slider__item
		padding: 0 1vw
	.slick-track 
		margin-left: -2vw
	.tabs
		.slick-track 
			margin-left: 0
	.about__content
		display: flex
		align-items: center
		margin-bottom: 30px
		p:last-child 
			margin-bottom: 0
	.about-page-main-screen
		background: none
	.about-img-1
		width: 374px
		height: 215px
		object-fit: cover
		object-position: center
		padding-left: 22px
	.about 
		padding-bottom: 0
	.payment-methods
		.col-lg-6
			margin-bottom: 20px
	.payment-methods__item
		min-height: 120px
	.career-main-screen
		background-size: 1730px
		background-position: right -35vw top
	.news__image
		width: 240px
		height: 170px
	.contact-img
		display: none
	.contact-content
		width: 764px 
		max-width: 100%
	.contact-item
		margin-bottom: 20px
	.contact-items
		width: 650px 
		max-width: 100%
	.prod-serv-img
		height: 327px
		object-fit: cover 
		object-position: center
	.ps-list
		.col-xl-3:first-child
			order: 1
		.col-xl-3:nth-child(2)
			order: 2
		.col-xl-3:nth-child(3)
			order: 4
		.col-xl-3:nth-child(4)
			order: 3
		.col-xl-3 
			margin-bottom: 20px
	.fraud-slider
		.scams-item
			width: 25vw
		.slick-current
			.scams-item
				width: 60vw
		.slick-track 
			margin-left: 0
	

	
	

	

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1100px)
	/**/
	.menu
		padding-right: 0vw
	.menu ul li 
		margin-right: 2vw
	.growing-item:nth-child(3)
		margin-left: 1vw
	.growing-item 
		width: 47.9%
		padding: 27px 37px
		min-height: 142px
	.thank-you__img
		width: 54vw
		height: 240px
	.thank-you .h2 
		padding-top: 63px
	.article .section-header
		flex-direction: column
		align-items: flex-start
		.h2 
			margin-bottom: 15px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1000px)
	/**/
	.faq-list
		flex-direction: column
		width: 665px 
		max-width: 100%
	.faq-col
		width: 100%

/* Large Devices, Wide Screens */
@media only screen and (max-width : 992px)
	/**/
	.menu 
		display: none
	.menu-btn
		cursor: pointer
		margin-left: 20px
		position: relative
		z-index: 999
	.menu-row
		width: 40px 
		height: 2px 
		background: $main-color
		margin-bottom: 8px
		transition: all .3s
	.menu-row:last-child 
		margin-bottom: 0
	.menu-btn.active 
		.menu-row:last-child 
			display: none
		.menu-row:first-child
			transform: rotate(30deg)
			margin-bottom: 0
			position: relative
			top: 1px
		.menu-row:nth-child(2)
			transform: rotate(-30deg)
			margin-bottom: 0
	.menu.active 
		display: block
		position: absolute
		right: 0 
		top: 20px 
		background: red
		padding: 20px
		padding-right: 30px
		width: 607px
		max-width: 100%
		border-top-left-radius: 10px
		border-bottom-left-radius: 10px
		border: 1.5px solid $main-color
		border-right: none
		background: #fff
		padding-bottom: 0
		z-index: 999
		ul 
			display: flex 
			flex-wrap: wrap
			justify-content: space-between
	.sub-menu__wrapper
		position: static 
		display: block
	.menu-item
		width: 49%
	.menu ul li 
		margin-right: 0
	.sub-menu 
		border: none 
		background: transparent 
		padding: 0
	.menu.active ul 
		align-items: flex-start
	.menu-item__title svg
		display: none
	.menu-item__title
		color: $main-color
	.sub-menu__wrapper
		padding-top: 2.5px
	.menu-item
		margin-bottom: 20px
	.main-screen__content
		margin-top: 0px
	.h1 
		br 
			display: none
	.main-screen 
		padding-top: 130px
		padding-bottom: 122px
		background-position: left -562px top 0px
	.main-screen__content
		width: 354px
	.main-screen
		.h1 
			width: 720px 
			max-width: 100%
	.item-section
		padding-top: 16px 
		padding-bottom: 16px
	.video-wrapper
		height: 405px
		margin-bottom: 30px
	.video-section p
		width: 764px
	.why-us__item
		margin-left: 0
		width: 655px 
		max-width: 100%
	.why-us__item:nth-child(2)
		margin-left: 0
	.why-us__item:nth-child(3)
		margin-left: 0
	.footer-link
		margin: 0 10px
	.footer 
		padding-top: 20px
	.footer__content
		padding-bottom: 20px
	.about-img-1
		display: none
	.thank-you__img
		position: static
		width: 100% 
		height: 190px
		border-radius: 0
	.thank-you
		padding-bottom: 0
		.h2 
			margin-bottom: 15px
			padding-top: 0
			br 
				display: none
	.career-main-screen
		background-size: 1730px
		background-position: right -45vw top
	.news-item
		flex-direction: column
		align-items: flex-start
	.news-item__content
		width: 100% 
		display: flex 
		justify-content: space-between
	.news-item__text-content
		width: 100%
	.h3 
		font-size: 23px
	.text-16 
		font-size: 15px
	.news-item__footer
		font-size: 15px
	.prod-serv-img
		width: 100%
		height: 327px
		margin-bottom: 20px
	.card-items
		width: 764px 
		max-width: 100%
	.li-item
		width: 726px 
		max-width: 100%
	.retail .payment-methods__item--18
		padding: 43px 20px
	.fraud-slider
		.slider__item
			width: 96vw
			.scams-item
				width: 100%
				p 
					display: block
	.tabs
		.slick-track
			display: flex 
			flex-wrap: wrap
			width: 90vw !important
			.tab 
				margin-bottom: 10px
	.create-account-img
		display: none

	




/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.item 
		margin-bottom: 20px
	.item-section
		padding-bottom: 0
	.video-wrapper
		height: 400px
	.h2
		br 
			display: none
	.slick-track 
		margin-left: -10vw
	.footer__content
		.container-fluid 
			flex-wrap: wrap
	.footer-menu
		width: 100%
		order: 3
		justify-content: center
		display: flex 
		align-items: center
	.footer-logo
		width: 50% 
		order: 1
	.footer__button-wrapper
		width: 50% 
		display: flex 
		justify-content: flex-end
		order: 2
	.footer-link
		padding: 0 3.5px
	.about .about-img-2
		width: 100vw
		max-width: 100vw
		margin-left: -2vw
		border-radius: 0
	.bread-crambs
		padding-top: 106px
		padding-bottom: 35px
	.growing-item 
		width: 100%
		min-height: 146px
		margin: 0 
		margin-bottom: 15px
	.career-main-screen
		background-position: right -500px top -77px
		background-size: 2000px
	.scams-slider
		.slick-track 
			margin-left: 0
	.h4 
		font-size: 20px
	.bread-crambs__link 
		font-size: 12px
	.bread-crambs span
		padding-left: 4px 
		padding-right: 4px
	.bread-crambs
		.container-fluid 
			display: flex 
			flex-wrap: wrap
			align-items: center
	.faq-item
		margin-bottom: 10px
	.faq-arrow
		margin-left: 20px
	.blue-section-wrapper
		padding-bottom: 0
	.benefits-list
		.growing-item:first-child,
		.growing-item:nth-child(3)
			background: #fff
			color: #000
			margin-left: 0
		.growing-item:nth-child(2),
		.growing-item:nth-child(4)
			background: $main-color
			color: #fff
	.card-item--full
		flex-wrap: wrap
		justify-content: flex-start
		.card-item__num
			margin-right: 15px
		.card-item__title
			width: auto
		.card-item__text
			margin-top: 15px
	.card-item--full .card-item__text
		width: 100%
	.margin-35 
		margin-bottom: 30px
	.risk-item
		flex-direction: column

	.input-colums
		width: 49%
	.textarea-wrapper
		width: 49%
	
		



/* Extra Small Devices, Phones */
@media only screen and (max-width : 650px)
	.menu.active 
		border: none
		border-bottom: 1.5px solid $main-color
		border-radius: 0
		width: 100%
		top: 0
	.header 
		font-size: 15px
	.menu-link 
		white-space: wrap
	.header 
		padding-top: 15px
	.menu.active 
		padding-top: 30px
	.h1 
		font-size: 27px
	.main-screen
		padding-top: 111px
		padding-top: 100px
	body 
		font-size: 15px
	.main-screen__content-wrapper
		justify-content: flex-start
	.button 
		font-size: 19px
	.main-screen 
		background: url('../img/bg-mob.svg')
		background-size: 100vw
		background-position: bottom -50vw right
	.item 
		img
			width: 40px
	.why-us__item-num
		margin-right: 15px
	.footer-link
		font-size: 19px
	.footer__button
		font-size: 19px
	.copy 
		font-size: 12px
	.footer-menu 
		margin-top: 19px
	.about__content
		margin-bottom: 10px
	.news__image
		width: 160px 
		height: 116px
	.select-selected,
	.search-input
		font-size: 19px
	.select-items div,
	.select-selected
		min-width: 103px
	.select-selected:after
		right: 10px
	.search-input
		height: 43px
	.select-selected
		padding-top: 6px 
		padding-bottom: 6px
	.form-row--phone
		flex-direction: column
		margin-bottom: 0
		.input-wrapper
			width: 100%
		.form-input 
			margin-bottom: 15px
	.payment-methods__title
		font-size: 20px
	.pps .payment-methods__item 
		padding-top: 5px 
		padding-bottom: 5px
		padding-left: 2px 
		padding-right: 2px
	.card-item__num
		width: 45px 
		min-width: 45px 
		height: 45px
		margin-right: 15px
		font-size: 23px
	.card-item
		margin-bottom: 15px
	.card-items
		margin-bottom: 50px
	.h3-45
		margin-bottom: 20px
	.section-item 
		margin-bottom: 50px
	.card-item--full .card-item__title
		width: calc(100%  -  60px)
	.retail
		.col-md-6 
			margin-bottom: 20px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 580px)
	/**/
	.ps-list
		.col-xl-3:first-child
			order: 1
		.col-xl-3:nth-child(2)
			order: 2
		.col-xl-3:nth-child(3)
			order: 3
		.col-xl-3:nth-child(4)
			order: 4
		.col-xl-3 
			margin-bottom: 20px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	
	.header 
		padding-top: 15px
	.logo 
		img 
			width: 130px
	.header__button
		font-size: 19px
	.header__button 
		padding-top: 6.3px 
		padding-bottom: 6.3px
	.menu-row
		width: 30px
	.menu-item
		width: 100%
	.container-fluid 
		max-width: 91.667vw
	.h1
		font-size: 28px
	.main-screen
		background-size: 140vw
		background-position: top left -40vw
		background-repeat: no-repeat
	.main-screen
		background-size: 109vw
		background-position: top 0vw left -9vw
		background-repeat: no-repeat
	.video-wrapper
		width: 100vw
		margin-left: -4.16vw
		border-radius: 0
		height: 250px
	.h2 
		font-size: 28px
		margin-bottom: 50px
	.section 
		padding-bottom: 100px 
	.section--first 
		padding-top: 100px
	p 
		margin-bottom: 10px
	.why-us__item-num
		width: 45px 
		height: 45px
		min-width: 45px
		font-size: 23px
	.why-us__item
		margin-bottom: 15px
	.section-header
		margin-bottom: 50px
	.footer-link
		margin: 0
	.footer-menu
		width: 100% 
		display: flex 
		justify-content: space-between
	.about .about-img-2
		margin-left: -4.1665vw
	.support-section
		font-size: 28px
		padding-top: 15px 
		padding-bottom: 15px
	.about 
		padding-bottom: 0
	.payment-methods__title
		font-size: 20px
	.payment-methods__item
		min-height: 84px
	.thank-you
		padding-bottom: 0
	.thank-you__img
		height: 145px
	.career-main-screen
		background-position: right -550px top -129px
	.filters-wrapper
		flex-direction: column
		align-items: flex-start
	.filter-col
		margin-bottom: 20px
	.news-item__content
		flex-direction: column-reverse
		align-items: flex-start
	.news__image
		width: 192px 
		height: 117px
		margin-top: 10px 
		margin-bottom: 10px
	.article .section-header
		margin-bottom: 35px
	.text-22
		font-size: 19px
	.article__img
		width: 100vw
		margin-left: -4.1665vw
		border-radius: 0
		height: 337px	
	.textarea 
		height: 120px
	.contact-item__icon-wrapper
		width: 50px 
		height: 50px 
		min-width: 50px
	.prod-serv-img
		height: 270px
	.blue-section-wrapper
		padding-bottom: 0
	.retail .payment-methods__item--18
		padding: 35px 15px
	.retail
		.col-md-6 
			margin-bottom: 15px
	.risk-item
		margin-bottom: 15px
	.sdks-sec
		//padding-bottom: 0
	.input-colums
		width: 100%
	.textarea-wrapper
		width: 100%
	.page-form
		.form-row 
			flex-direction: column
		.textarea-wrapper
			margin-top: 15px
	.form-single
		.input-wrapper 
			width: 213px 
			max-width: 100%
		input
			height: 42px
		.button 
			height: 42px
	.form-single .input-wrapper
		margin-right: 15px
	.page-form-2
		.input-wrapper
			margin-bottom: 15px
	.fraud-slider
		.slider__item
			width: 92vw
	.input-wrapper--checkbox
		align-items: flex-start
	.row-merch
		.col-xl-4
			margin-bottom: 15px
	.section-header .h2
		max-width: calc( 100% - 100px)

	





	



/* Custom, iPhone Retina */
@media only screen and (max-width : 450px)
	/**/
	.main-screen
		background-size: 140vw
		background-position: top left -40vw
		background-repeat: no-repeat
	.slick-track 
		margin-left: 0vw
	.reviews-slider
		.container-fluid 
			max-width: 91.667vw
			margin-left: auto 
			margin-right: auto
	.footer-logo
		img 
			width: 103px
	.career-main-screen
		background-position: right -735px top -121px
	.article-footer
		flex-direction: column
		align-items: flex-start
		a 
			margin-bottom: 10px
	.slider__item-content
		padding-left: 15px 
		padding-right: 15px

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px)
	/**/
	.video-wrapper
		height: 190px
	.article__img
		height: 300px
	.prod-serv-img
		height: 202px
	.card-item--full .card-item__num
		margin-right: 8px

	
/* Custom, iPhone Retina */
@media only screen and (max-width : 370px)
	/**/
	.footer-link
		font-size: 5vw
	.select-items div,
	.select-selected
		min-width: 27vw
	.filter-col:last-child 
		.custom-select
			min-width: 38vw
	.retail .payment-methods__item--18
		padding: 20px 15px

